services:
  mongo-repl-1:
    image: mongo:latest
    container_name: mongo-repl-1
    restart: unless-stopped
    networks:
      - srvthreds-net
    command:
      - mongod
      - '--replSet'
      - rs0
      - '--bind_ip_all'
    environment:
      - MONGO_INITDB_DATABASE=admin
    ports:
      - '27017:27017'
    volumes:
      - ./.docker/mongodb/data/db:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/admin --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    networks:
      - srvthreds-net
    command:
      - redis-server
      - '--port'
      - '6379'
      - '--save'
      - '20'
      - '1'
      - '--loglevel'
      - warning
      - '--notify-keyspace-events'
      - KA
    ports:
      - '6379:6379'
    volumes:
      - ./.docker/redis-data:/data
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    networks:
      - srvthreds-net
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - ./.docker/rabbitmq/data:/var/lib/rabbitmq
      - ./.docker/rabbitmq/logs:/var/log/rabbitmq
networks:
  srvthreds-net:
    driver: bridge
    name: srvthreds-net
