apiVersion: v1
kind: ConfigMap
metadata:
  name: srvthreds-config
  namespace: srvthreds
data:
  # Azure Cosmos DB (MongoDB API)
  # NOTE: MONGO_HOST is injected from Key Vault secret in pod env
  MONGO_SSL: "true"
  MONGO_DIRECT_CONNECTION: "false"
  MONGO_REPLICA_SET: "globaldb"
  MONGO_RETRY_WRITES: "false"
  MONGO_MAX_IDLE_TIME_MS: "120000"

  # Azure Cache for Redis
  REDIS_HOST: caz-srvthreds-d-e-redis.redis.cache.windows.net:6380 # TODO: port 6380 for SSL in production
  # REDIS_HOST: caz-srvthreds-d-e-redis.redis.cache.windows.net:6379 # TODO: port 6379 for non-SSL in development
  REDIS_USE_TLS: "true" # Set to "false" for non-SSL connection in development

  
  # RabbitMQ (in-cluster service)
  RABBITMQ_HOST: rabbitmq-service

  # JWT settings
  JWT_EXPIRE_TIME: 1h
  REFRESH_TOKEN_EXPIRE_TIME: 7d